# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Testing / coverage
.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# ===============================
# PyCharm / IntelliJ IDEA
# ===============================
.idea/
*.iml

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Secrets
# ===============================
.env
*.pem
*.key

playground.py
